<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <link rel="apple-touch-icon" href="./static/icon.png"/>
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="80x80" href="./static/icon.png">
    <title>Kajhub</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/leaflet/0.7.7/leaflet.css" />
    <link rel="stylesheet" href="./static/css/leaflet.label.css">
    <link rel="stylesheet" href="https://rawgit.com/MohammadYounes/AlertifyJS/master/build/css/alertify.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./static/css/style.css?v=7">
    <script src="https://cdn.jsdelivr.net/leaflet/0.7.7/leaflet.js"></script>
    <script src="./static/l-label.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
    <script src="./static/jquery.form.js"></script>
    <script src="https://rawgit.com/MohammadYounes/AlertifyJS/master/build/alertify.js"></script>
</head>
<body>
    <section id="form" data-bind="if: !mapLoaded()">
        <form id="settings">
            <dl>
                <dt>
                    <label class="lbl" for="nick">Your Nickname:</label>
                    <input id="nick" data-bind="value: nick" type="text">
                </dt>
                <dt>
                    <label class="lbl" for="color">Your Color:</label>
                    <input id="color" data-bind="value: color" type="color">
                </dt>
                <dt>
                    <label class="lbl" for="mapid">Secret Code:</label>
                    <input id="mapid" data-bind="value: mapid" type="text">
                </dt>
                <dt>
                    <button type="button" class="btn" data-bind="click: connect">Go</button>
                </dt>
            </dl>
        </form>
    </section>

    <section id="mapContainer" data-bind="if: mapLoaded">
        <button class="btn btn-leave" data-bind="click: disconnect">Leave map</button>
        <a class="btn btn-xs btn-sms" data-bind="attr: {href: mapDirectLink}">SMS</a>
        <div id="player">
            <button class="btn btn-xs" data-bind="click: pause, visible: !paused()">&#9616;&nbsp;&#9612;</button>
            <button class="btn btn-xs" data-bind="click: play, visible: paused">&#9654;</button>
            <button class="btn btn-xs" data-bind="click: toggleBind, css: {btnUnbound: !bound()}">
                <i class="fa fa-unlink" data-bind="visible: bound()"></i>
                <i class="fa fa-link" data-bind="visible: !bound()"></i>
            </button>
        </div>
        <div id="map"></div>
        <div id="chat">
            <input type="text" data-bind="value: chatMessage" placeholder="Say something...">
            <form class="inline" id="fotoform" method="post" action="./upload">
                <div class="inputWrapper" data-bind="visible: !isLoading()">
                    <i class="fa fa-lg fa-camera-retro"></i>
                    <input class="fileInput" type="file" accept="image/*" id="file" name="file" capture="camera">
                </div>
            </form>
            <div id="loading" data-bind="visible: isLoading">
                <i class="fa fa-lg fa-spin fa-spinner"></i>
            </div>
            <button class="btn" data-bind="click: sendMessage"><i class="fa fa-arrow-right"></i></button>
        </div>
        <div id="bigfoto" data-bind="visible: bigFotoUrl()">
            <img src="" data-bind="attr: {src: bigFotoUrl}">
            <div class="closer"><a href="#" data-bind="click: hideBigFoto"><i class="fa fa-close"></i></a></div>
        </div>
    </section>

    <script type="text/javascript" charset="utf-8">

    //Hack CircleMarker so labels can be displayed
    //@url http://stackoverflow.com/questions/15543141/label-for-circle-marker-in-leaflet

    L.CircleMarker.include({
        bindLabel: function (content, options) {
            if (!this.label || this.label.options !== options) {
                this.label = new L.Label(options, this);
            }

            this.label.setContent(content);
            this.labelNoHide = options && options.noHide;

            if (!this._showLabelAdded) {
                if (this.labelNoHide) {
                    this
                        .on('remove', this.hideLabel, this)
                        .on('move', this._moveLabel, this);
                    this._showLabel({latlng: this.getLatLng()});
                } else {
                    this
                        .on('mouseover', this._showLabel, this)
                        .on('mousemove', this._moveLabel, this)
                        .on('mouseout remove', this._hideLabel, this);
                    if (L.Browser.touch) {
                        this.on('click', this._showLabel, this);
                    }
                }
                this._showLabelAdded = true;
            }

            return this;
        },

        unbindLabel: function () {
            if (this.label) {
                this._hideLabel();
                this.label = null;
                this._showLabelAdded = false;
                if (this._labelNoHide) {
                    this
                        .off('remove', this._hideLabel, this)
                        .off('move', this._moveLabel, this);
                } else {
                    this
                        .off('mouseover', this._showLabel, this)
                        .off('mousemove', this._moveLabel, this)
                        .off('mouseout remove', this._hideLabel, this);
                }
            }
            return this;
        }
    });

    //Generate random color for markers
    function rainbow() {
        return '#'+Math.floor(Math.random()*16777215).toString(16);
    }

var socket, vm;

$('#fotoform').ajaxForm();

function kayVModel() {
    var self = this;

    self.socket = null;
    self.mapDirectLink = ko.observable();

    //property to control maps visibility
    self.mapLoaded = ko.observable(false);
    //check if any of settings are present in localStorage
    //and restore them if found
    self.mapid = ko.observable(localStorage.getItem('lastMap')); //Map ID, aka Secret Code, aka room name
    if(location.hash.length) {
      self.mapid(location.hash.replace('#',''));
    }
    self.nick = ko.observable(localStorage.getItem('lastNick')); //Color of the user's marker
    var markerColor = localStorage.getItem('lastColor');
    if(!markerColor) {
        markerColor = rainbow();
    }
    self.color = ko.observable(markerColor); //User's nickname
    self.map = null;
    self.markersLayer = null;

    self.bound = ko.observable(true);

    self.toggleBind = function() {
        self.bound(!self.bound());
    }

    self.bigFotoUrl = ko.observable();
    self.hideBigFoto = function() {
        self.bigFotoUrl(null);
    }

    self.createMap = function() {
        self.map = L.map('map');
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a></a>',
            maxZoom: 18
        }).addTo(self.map);
        self.markersLayer = L.featureGroup();
        self.markersLayer.addTo(self.map);
        document.getElementById('file').onchange = self.postPhoto;
    }

   self.disconnect = function() {
       socket.emit('leave',{map:self.mapid(),nick:self.nick()});
       self.map.remove();
       self.mapLoaded(false);
       return true;
   }

   window.onunload = self.disconnect;

   self.connect = function() {

        if(!self.mapid()) {
            alert('Secret Code must not be empty!');
            return false;
        }
        if(!self.nick()) {
            alert('Nick must not be empty!');
            return false;
        }
        localStorage.setItem('lastNick',self.nick());
        localStorage.setItem('lastColor',self.color());
        localStorage.setItem('lastMap',self.mapid());
     
        self.mapLoaded(true);
        self.createMap();
        //connect to WebSocket
        socket = io.connect('wss://' + document.domain + ':' + location.port);
        self.socket = socket;
        //and join the map
        socket.on('connect', function() {
            socket.emit('join',{map:self.mapid(),nick:self.nick()});
            self.onSocketConnected();
        });
        if(!location.hash.length) {
            location.hash = '#'+self.mapid();
        }
        self.mapDirectLink('sms:?body='+location.origin+'/map/'+location.hash.replace('#',''));
    }

    self.onSocketConnected = function() {
        socket.on('joined',function(msg){
            if(msg.nick == self.nick()) {
                return;
            }
            alertify.notify(msg.nick+' has joined the map','success',5);
        })

        socket.on('chat',function(msg){
            alertify.notify(msg.nick+':'+msg.msg,'warning',5);
        })

        socket.on('ping',function(msg){
            self.reportPosition();
        })

        socket.on('userlost', function(msg){
            if(msg.nick == self.nick()) {
                return;
            }
            alertify.notify(msg.nick+' has lost GPS signal','warning',5);
        })

        socket.on('userpaused', function(msg){
            if(msg.nick == self.nick()) {
                return;
            }
            alertify.notify(msg.nick+' has paused','warning',5);
        })

        socket.on('userplayed', function(msg){
            if(msg.nick == self.nick()) {
                return;
            }
            alertify.notify(msg.nick+' has restarted','success',5);
        })

        socket.on('left',function(msg){
            if(msg.nick == self.nick()) {
                return;
            }
            alertify.notify(msg.nick+' has left the map','error',5);
            for(var key in self.markersLayer._layers) {
                if(self.markersLayer._layers[key].nick == msg.nick) {
                    self.markersLayer.removeLayer(key);
                    break;
                }
            }
        })
        socket.on('usermove',function(msg){
            //if user has moved, try to find his marker and move it
            var foundUsersMarker = false;

            for(var key in self.markersLayer._layers) {
                if(self.markersLayer._layers[key].nick == msg.nick) {
                    self.markersLayer._layers[key].setLatLng([msg.y,msg.x]);
                    self.markersLayer._layers[key].label.setLatLng([msg.y,msg.x]);
                    foundUsersMarker = true;
                    break;
                }
            }
            //if marker was not found, create it
            if(!foundUsersMarker) {
                var newUsersMarker = L.circleMarker([msg.y,msg.x],{
                    fillColor: msg.color,
                    color: msg.color,
                    fillOpacity: 0.6,
                    radius:16
                })
                //hack again: map must be bound to marker for label to show
                newUsersMarker._map = self.map;
                newUsersMarker.nick = msg.nick;
                newUsersMarker.addTo(self.markersLayer);
                newUsersMarker.bindLabel(msg.nick,{noHide:true});
            }
            if(self.bound()) {
                self.map.fitBounds(self.markersLayer.getBounds());
            }
        })
        self.posWatch = navigator.geolocation.watchPosition(self.onLocationFound, self.onLocationError, self.locationOptions);


        setTimeout(function(){
            socket.emit('ping_request',{map:self.mapid()});
        },5000);

        socket.on('photo',function(msg){
            alertify.notify(msg.nick+'<a href="#" onclick="vm.bigFotoUrl(\'./filez/'+msg.file+'\')"><img src="./filez/'+msg.file+'?thumb=1"></a>','warning','15');
        })
    }

    self.paused = ko.observable(false);

    self.pause = function() {
        navigator.geolocation.clearWatch(self.posWatch);
        self.paused(true);
        socket.emit('pause',{
            nick: self.nick(),
            map: self.mapid()
        })
    }

    self.play = function() {
        self.posWatch = navigator.geolocation.watchPosition(self.onLocationFound, self.onLocationError, self.locationOptions);
        self.paused(false);
        socket.emit('play',{
            nick: self.nick(),
            map: self.mapid()
        })
    }

    self.sendMyLocation = function(pos) {
        socket.emit('move',{
            nick: self.nick(),
            map: self.mapid(),
            color: self.color(),
            x: pos[0],
            y: pos[1]
        })
    }

     self.leaveMap = function() {
        socket.emit('leave',{map:self.mapid(), nick: self.nick()});
    }

    self.locationOptions = {
      enableHighAccuracy: true
    };

     self.onLocationError = function(evt) {
         console.log(evt);
         socket.emit('lost_gps',{nick: self.nick(), map: self.mapid()})
     }

    self.onLocationFound = function(evt) {
        if(evt.accuracy > 100) {
            self.onLocationError();
            return;
        }
        self.sendMyLocation([evt.coords.longitude,evt.coords.latitude]);
    }

    self.reportPosition = function() {
        navigator.geolocation.getCurrentPosition(self.onLocationFound,self.onLocationError,{});
    }

    self.chatMessage = ko.observable();

    self.sendMessage = function() {
        socket.emit('send_chat',{nick: self.nick(), map: self.mapid(), msg: self.chatMessage()});
        self.chatMessage('');
    }

    self.isLoading = ko.observable(false);

    self.postPhoto = function() {
        self.isLoading(true);
        $('#fotoform').ajaxSubmit(function(data){
            self.isLoading(false);
            socket.emit('send_photo',{nick: self.nick(), map: self.mapid(), file: data.uploaded});
        })
    }
}

vm = new kayVModel();
ko.applyBindings(vm);

</script>
</body>
</html>
